// Bouton Explorer 
.bouton-explore {
  background: linear-gradient($secondary-color, $primary-color);
  color: $white;
  top: 50px;
  @include border-radius(25px);
  font-size: 16px;
  cursor: pointer;
  @include box-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
  height: 50px;
  border: none;
  width: 220px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: all 0.3s ease;
 
  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    filter: brightness(1.05);
  } 
}

// Composant choix 
.choix {
  background-color: $background-color;
  padding: 15px 15px 15px 30px;
  @include border-radius(20px);
  font-size: 16px;
  @include box-shadow(0 3px 10px rgba(0, 0, 0, 0.1));
  position: relative;
  display: flex;
  align-items: center;
  color: $text-color;
  font-weight: 500;
  height: 70px;
 
  
  i {
    color: #7e7e7e;
    margin-right: 20px;
    font-size: 20px;
    
    &:hover {
      color: $primary-color;
    }
  }
  
  span {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    color: $white;
    width: 25px;
    height: 25px;
    @include border-radius(50%);
    @include flex-center;
  }
}

// Cartes restaurants
.restaurant-card {
  position: relative;
}

.card-container {
  position: relative;
  @include border-radius(15px);
  @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.1));
  background-color: $white;
  overflow: hidden;
}

.card {
  text-decoration: none;
  color: $text-color;
  display: block;
  
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center 63%;
    @include border-radius(15px 15px 0 0);
  }
}

.card-content {
  padding: 10px;
  position: relative;
  
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }
  
  p {
    margin: 0;
    font-size: 17px;
    color: $text-color;
    font-weight: 300;
  }
}

.nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $tertiary-color;
  color: #008766;
  padding: 7px 12px;
  @include border-radius(2px);
  font-weight: 500;
  font-size: 14px;
}

// Coeur "j'aime"
.heart-wrapper {
  position: absolute;
  top: auto;
  bottom: 25px;
  right: 15px;
  cursor: pointer;
  display: inline-block;
  z-index: 10;
}

/* Cœur non rempli (contour) */
.fa-heart {
  font-size: 24px; /* Taille ajustable selon vos besoins */
  color: #000;     /* Couleur du contour */
  position: relative;
  z-index: 1;
  transition: opacity 0.3s;
}

/* Cœur rempli avec dégradé (initialement invisible) */
.filled {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 24px; /* Même taille que .fa-heart */
  background: linear-gradient($primary-color, $secondary-color);
  background-clip: text;
  color: transparent;
  transition: opacity 0.3s;
  z-index: 2;
}

/* Quand la checkbox est cochée, masquer le cœur non rempli */
input:checked + .fa-heart {
  opacity: 0;
}

/* Quand la checkbox est cochée, afficher le cœur rempli */
input:checked + .fa-heart + .filled {
  opacity: 1;
}

/* Cacher la checkbox */
input[type="checkbox"] {
  display: none;
}