// Footer
footer {
  background-color: $dark-grey;
  padding: 25px 20px;
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  a {
    color: $white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .footer-logo {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

i.fa-solid {
  &.fa-handshake-angle, &.fa-utensils {
    color: $white;
    margin-right: 10px;
    width: 25px;
  }
}