footer {
  background-color: $dark-grey;
  padding: 20px 25px;
  color: $white;
 
} 


.footer-content {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    gap: 20px;
}
}
@include desktop {
.footer-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    gap: 50px;
}
}


  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include tablet {
      gap: 16px;
      flex-direction: row;
      justify-content: center;
    }
     @include desktop {
      gap: 50px;
      flex-direction: row;
      justify-content: center;
    }
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  a {
    color: $white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .footer-logo {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
     @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
  }
}
 

i.fa-solid {
  &.fa-handshake-angle, &.fa-utensils {
    color: $white;
    margin-right: 10px;
    width: 25px;
  }
}