// Header
header {
    text-align: center;
    background-color: $white;
    position: relative;//Définit une position relative pour permettre un positionnement absolu de ses éléments enfants si besoin.
    z-index: 1;// Place le header au-dessus d’autres éléments si des éléments se superposent.
    @include box-shadow(0 4px 6px rgba(0, 0, 0, 0.2));// Décalage horizontal 0, Décalage vertical-l’ombre descend de 4px, L’ombre est floutée sur 6px (Couleur-noir semi-transparent 20% d’opacité)
    
    h1 {
      margin: 0;
      padding: 20px 0 5px 0;
      font-family: 'Shrikhand', cursive;
      font-weight: 400;
      font-size: 30px;
    }
   
    p {
      font-weight: 500;
      font-size: 16px;
    }
  }
  
  .localisation {
    @include flex-center;
    gap: 17px;
    height: 50px;
    background-color: $light-grey;
    font-size: 16px;
    font-weight: 500;
    color: $dark-grey;
    @include box-shadow(
      inset 0 2px 2px rgba(0, 0, 0, 0.1),//  INSET=Ombre interne (dans l’élément, pas autour),Aucun décalage horizontal 0, Flou de 2px, Décalage vertical vers le bas 2px (Noir très transparent 10%)
      0 2px 4px rgba(0, 0, 0, 0.2)// Pas de décalage horizontal 0, Ombre projetée 2px vers le bas, Flou plus important 4px, Noir à 20% d’opacité
    );
    
    i {
      font-size: 16px;
      color: $dark-grey;
    }
  }