// Header
header {
    text-align: center;
    background-color: $white;
    position: relative;//Définit une position relative pour permettre un positionnement absolu de ses éléments enfants si besoin.
    z-index: 1;// Place le header au-dessus d’autres éléments si des éléments se superposent.
    @include box-shadow(0 4px 6px rgba(0, 0, 0, 0.2));// Décalage horizontal 0, Décalage vertical-l’ombre descend de 4px, L’ombre est floutée sur 6px (Couleur-noir semi-transparent 20% d’opacité)
    
    h1 {
      margin: 0;
      padding: 20px 0 5px 0;
      font-family: $font-family-title;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
    }
   
    p {
      font-weight: bold;
      font-size: 16px;
    }
  }
 