main {
  position: relative;//Positionne le main relativement pour que des éléments positionnés en absolute à l’intérieur puissent se référer à lui.
  @include tablet-desktop {
    background-color: $white;
  }
 
  > img {
    width: 100%;
    height: 300px;
    object-fit: cover;//sans déformation
  }
  
  .restaurant-content {
    background-color: $background-color;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
    padding: 30px 15px;
    @include tablet {
      margin-right: 150px;
      margin-left: 150px;
      padding: 30px 60px;
      } 
      @include desktop {
        margin-right: 200px;
        margin-left: 200px;
        padding: 30px 130px;
        max-width: 1440px;   //bloque la largeur maximale pour ne pas trop étirer sur grand écran
        width: calc(100% - 400px); //donne un effet fluide en conservant des marges latérales
        margin-left: auto;   //centre le bloc horizontalement
        margin-right: auto;
      } 
   }
  
  .restaurant-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: 15px;
  gap: 15px;
  @include tablet-desktop {
    justify-content: center;
    margin-top: 0;
    align-items: center;

  }
 
  .main-title {
    font-family: $font-family-title;
    font-size: 28px;
    font-weight: $font-weight-regular;
    margin: 0;
    @include tablet-desktop {
      padding: 0 20px;
    }
  }

  .heart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 45px;


    .heart-checkbox {//coeur plein est caché par défaut quand la case est cochée il apparaît avec un effet de zoom et dégradé
      display: none;

      &:checked ~ .heart-icon.filled {
        opacity: 1;
        transform: scale(1);

      }
    }

    .heart-icon {
      font-size: 24px;
      transition: all 0.3s ease;
      position: relative; 

      &.filled {
        opacity: 0;
        transform: scale(0.8);
        background: linear-gradient($primary-color, $secondary-color);
        background-clip: text;
        color: transparent;
        position: absolute;
      }
    }
  }
}
}
// Menu Sections
.menu-section {
  margin-bottom: 40px;
  
  .menu-category {
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    
    &::after {//ajoute une ligne verte sous chaque titre de section
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 40px;
      height: 3px;
      background-color: $tertiary-color;
    }
  }
}

// Menu Cards
.sub-card {
  background-color: $white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include shadow;
  animation: fadeIn 0.6s forwards;
  opacity: 0;
  transform: translateY(10px);
  
  @for $i from 1 through 12 {//animation en cascade chaque carte apparaît avec un léger retard par rapport à la précédente
    &:nth-of-type(#{$i}) {
      animation-delay: #{($i - 1) * 0.2}s;
    }
  }
  
  .card-text {//réserve de l’espace à droite pour les icônes (prix + check)
    width: calc(100% - 70px);
    overflow: hidden;
    transition: width 0.3s ease;

    
    h4 {
      font-size: 18px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    p {
      font-size: 15px;
      color: $text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // Quand l’animation du check est active
  &:hover .card-text p,
  &:focus .card-text p {//important pour l'accessibilité
    width: calc(100% - 130px); // réduction dynamique
  }

  
  .prix {
    font-weight: $font-weight-bold;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: transform 0.3s ease;
  }
  
  .check {
    background-color: $tertiary-color;
    color: $white;
    @include flex-center;
    height: 100%;
    width: 60px;
    position: absolute;
    right: -60px;
    top: 0;
    transition: transform 0.3s ease;
    
    i {
      font-size: 20px;
      transform: rotate(0);
      transition: transform 0.5s ease;
    }
  }
  
  &:hover, &:focus {//au survole de la carte le prix glisse vers la gauche pour faire apparaître le bouton de validation
    .prix {
      transform: translateX(-60px);
    }
    
    .check {
      transform: translateX(-60px);
      
      i {
        transform: rotate(360deg);
      } //petite touche d'animation supplémentaire :)
    }
  }
}

// Bouton Commander
.btn-wrapper {
  @include flex-center;
  margin: 50px 0 20px;
  
  .btn.commander {
    @include btn-gradient;
  }
}

// Animations
@keyframes fadeIn {//faire apparaître l'élément progressivement le fesant glisser légèrement vers le haut
  to {
    opacity: 1;//visible
    transform: translateY(0);//revient a sa position verticale normale
  }
}//l’animation fadeIn le fait passer de opacity: 0 à opacity: 1, ce qui donne un effet de fondu qui entre

@keyframes checkSlide {//élément caché à droite et glisse vers la gauche
  from {//début
    transform: translateX(60px);//commence à 60px à droite de sa position initial
  }
  to {//fin
    transform: translateX(0);//l'élément revient à sa place
  }
}


//animation suplémantaire, pour faire tourner la validation sur lui même 360°
@keyframes rotate {
  from {//début
    transform: rotate(0);
  }
  to {//fin
    transform: rotate(360deg);
  }
}

// rotate = rotation complète, checkSlide = glissement de droite à gauche, fadeIn = apparition progressive. From = 0% (début), to = 100% (fin)

