// Couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$text-color: #000;
$dark-grey: #353535;
$light-grey: #eaeaea;
$white: #ffffff;

// Polices
$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Shrikhand', cursive;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

//Breakpoints
$breakpoint-tablet-min: 769px;// Min tablette
$breakpoint-tablet-max: 1024px;// Max tablette
$breakpoint-desktop-min: 1025px;//Min desktop
$breakpoint-desktop-max: 2560px;//Max desktop, ils pourrais vouloir une media query spécifique aux très grands écrans plus tard